<mat-form-field>
  <mat-card appearance="outlined">
    <mat-label>Name:</mat-label>
    <input matInput value="{{detail.name}}">
  </mat-card>
  <mat-card appearance="outlined">
    <mat-label>Value:</mat-label>
    <input matInput value="{{detail.value}}">
  </mat-card>
  <mat-card appearance="outlined">
    <mat-label>Type:</mat-label>
    <input matInput value="{{detail.valueType}}">
  </mat-card>
  <mat-card appearance="outlined">
    <mat-label>Formula:</mat-label>
    <input matInput value="{{detail.formula}}">
  </mat-card>
</mat-form-field>
